.c-card {
	transition: background-color .3s ease;
	border-radius: 4px;
	padding: 1.5rem .5rem;
	background-color: rgba(225, 255, 255, 0);
}

.c-card:hover {
	background-color: rgba(150, 150, 150, .15);
}

.c-red {
	color: red;
}

.c-desc {
	width: 20vw;
}