.n-nav-container {
	width: 80%;
	margin: auto;
}

.n-nav {
	border-radius: 4px;
	/*background-color: rgb(0, 0, 0)*/
	padding: 1rem;
}

.n-nav-text {
/*	color: rgb(225, 225, 225);*/

}

.n-marker {
	background-color: rgb(0, 125, 225);
	width: 5vw;
	height: 1vh;
	bottom: 1vh;
}

.active {
	text-decoration: underline;
}