.h-card {
	border: 1px solid rgba(150, 150, 150, .25);
	padding: 1rem;
	border-radius: 4px;
	background-color: rgba(220, 220, 220, .25);
	margin: 2rem;
	width: 25vw;
	height: 30vh;
}

.h-arrow {
	margin: auto 0;
}
