
.g-pos-absolute {
	position: absolute;
}

.g-pos-relative {
	position: relative;
}

.g-text-center {
  text-align: center;
}

.g-flex {
  display: flex;
}

.g-flex-row {
  flex-direction: row;
}

.g-justify-space-around {
  justify-content: space-around;
}

.g-justify-space-between {
	justify-content: space-between;
}

.g-justify-center {
	justify-content: center;
}

.g-flex-wrap {
	flex-wrap: wrap;
}

.g-mg-3 {
	margin: 3rem;
}

/*bot*/
.g-mg-bot-1 {
	margin-bottom: 1rem;
}

.g-mg-bot-3 {
	margin-bottom: 3rem;
}

/*top*/
.g-mg-top-1 {
	margin-top: 1rem;
}

.g-mg-top-dot5 {
	margin-top: .5rem;
}

/*left*/
.g-mg-left-dot25 {
	margin-left: .25rem;
}

/*right*/
.g-mg-right-dot25 {
	margin-right: .25rem;
}
